<mat-card class="profile-card" *ngIf="isDataReady">
  <mat-card-header>
    <mat-card-title>Привіт, {{ user.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Пошта: {{user.email}}</p>
    <p>Id: {{user._id}}</p>
  </mat-card-content>
</mat-card>
