.create-container{
  justify-content: center;
  align-items: center;
}
.create-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.create-form-row{
  display: flex;
  flex-direction: column;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.create-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.option{
  min-width: max-content;
}
