<div class="create-container">
  <div class="create-form">
    <span class='spacer'></span>
    <div class="create-form-row">
      <mat-form-field class="create-input">
        <mat-select placeholder="Особа" [(value)]="this.record.personId">
          <mat-option>None</mat-option>
          <mat-option class="option" *ngFor="let person of persons | async" value="{{person._id}}">{{person.lastName}} {{person.firstName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="create-input">
        <input matInput type="text" placeholder="Номер рішення суду" [(ngModel)]="this.record.courtDecisionNumber" name="courtDecisionNumber">
      </mat-form-field>
      <mat-form-field class="create-input">
        <input matInput type="text" placeholder="Номер наказу" [(ngModel)]="this.record.orderNumber" name="orderNumber">
      </mat-form-field>
      <mat-form-field class="create-input">
        <input matInput type="date" placeholder="Дата наказу" [(ngModel)]="this.record.orderDate" name="orderDate">
      </mat-form-field>
      <mat-form-field class="create-input">
        <mat-select placeholder="Сфера політики" [(value)]="this.record.politicSphere">
          <mat-option>None</mat-option>
          <mat-option class="option" *ngFor="let sphere of spheres | async" value="{{sphere.name}}">{{sphere.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span class='spacer'></span>
    <div class="create-form-row">
      <mat-form-field class="create-input">
        <input matInput type="text" placeholder="Покарання" [(ngModel)]="this.record.punishment" name="punishment">
      </mat-form-field>
      <mat-form-field class="create-input">
        <input matInput type="text" placeholder="Вид кодексу" [(ngModel)]="this.record.codeType" name="codeType">
      </mat-form-field>
      <mat-form-field class="create-input">
        <input matInput type="text" placeholder="Стаття кодексу" [(ngModel)]="this.record.codeArticle" name="codeArticle">
      </mat-form-field>
      <mat-form-field class="create-input">
        <input matInput type="date" placeholder="Дата винесення рішення судом" [(ngModel)]="this.record.courtDecisionDate" name="courtDecisionDate">
      </mat-form-field>
    </div>
    <span class='spacer'></span>
  </div>
  <div class="create-button-container">
    <button type="submit" mat-button color="primary" (click)="Add()"><mat-icon>add</mat-icon></button>
  </div>
</div>
