<div class="login-container">
  <form class="login-form">
    <mat-form-field class="login-input">
      <input matInput type="email" placeholder="email" [(ngModel)]="credentials.email" name="email">
    </mat-form-field>
    <mat-form-field class="login-input">
      <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password">
    </mat-form-field>
    <label id="error-label" *ngIf="errorMessage" >{{ errorMessage }}</label>
    <div class="button-row">
      <button type="submit" mat-button color="primary" (click)="login()"><mat-icon>account_circle</mat-icon></button>
    </div>
  </form>
</div>
