<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <a routerLink="/">Реєстр осіб, що скоїли корупційне правопорушення</a>
  <span class="spacer"></span>
  <a mat-button routerLink="login" *ngIf="!auth.isLoggedIn(); else user" class="nav-button">Увійти</a>
  <a mat-button routerLink="register" *ngIf="!auth.isLoggedIn()" class="nav-button">Зареєструватись</a>
  <ng-template #user>
    <a mat-button routerLink="create" class="nav-button">Створити запис</a>
    <a mat-button routerLink="sphere" class="nav-button">Сфери політики</a>
    <a mat-button routerLink="person" class="nav-button">Особи</a>
    <a mat-button routerLink="profile" class="nav-button">Профіль</a>
    <a mat-button (click)="auth.logout()" class="nav-button">Вийти</a>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>

