<div class="spheres-container">
  <div class="spheres-form">
      <mat-form-field class="spheres-input">
        <input matInput type="text" placeholder="Назва сфери" [(ngModel)]="this.sphere.name" name="name">
      </mat-form-field>
  </div>
  <button type="submit" mat-button color="primary" (click)="Add()"><mat-icon>add</mat-icon></button>
  <div class="result-container">
    <p *ngFor="let sphere of spheres">{{ sphere.name }}</p>
  </div>
</div>
