<div class="persons-container">
  <div class="persons-form">
    <mat-form-field class="persons-input">
      <input matInput type="text" placeholder="Ім'я" [(ngModel)]="this.person.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field class="persons-input">
      <input matInput type="text" placeholder="Прізвище" [(ngModel)]="this.person.lastName" name="lastName">
    </mat-form-field>
    <mat-form-field class="persons-input">
      <input matInput type="text" placeholder="По-батькові" [(ngModel)]="this.person.fatherName" name="fatherName">
    </mat-form-field>
    <mat-form-field class="persons-input">
      <input matInput type="text" placeholder="Посада" [(ngModel)]="this.person.position" name="position">
    </mat-form-field>
  </div>
  <div class="add-button-container">
    <button type="submit" mat-button color="primary" (click)="Add()"><mat-icon>add</mat-icon></button>
    <button type="submit" mat-button color="primary" (click)="Find()"><mat-icon>search</mat-icon></button>
  </div>
  <mat-accordion class="result-container" multi="false">
    <mat-expansion-panel *ngFor="let person of persons | async" (opened)="getRecords(person._id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ person.lastName }} {{ person.firstName }} {{ person.fatherName }}
        </mat-panel-title>
        <mat-panel-description>
          Посада: {{ person.position}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template #noRecords>У даної особи нема записів в реєстрі</ng-template>
      <div matExpansionPanelContent *ngIf="(pRecords | async)?.length != 0; else noRecords">
        <div class="records">
          <div class="record" *ngFor="let record of pRecords | async">
            <p>Запис у сфері: {{ record.politicSphere }}</p>
            <p>Покарання: {{ record.punishment }}</p>
            <p>Кодекс: {{ record.codeType }}</p>
            <p>Стаття: {{ record.codeArticle }}</p>
            <p>Дата винесення вироку: {{ record.courtDecisionDate }}</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
