.persons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.persons-form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

/*# sourceMappingURL=person.component.css.map */
