.search-container {
  justify-content: center;
  align-items: center; }

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.search-form-row {
  display: flex;
  flex-direction: column; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.search-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/*# sourceMappingURL=search.component.css.map */
