<div class="search-container">
  <div class="search-form">
    <span class='spacer'></span>
    <div class="search-form-row">
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Ім'я" [(ngModel)]="this.record.firstName" name="firstName">
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Прізвище" [(ngModel)]="this.record.lastName" name="lastName">
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="По-батькові" [(ngModel)]="this.record.fatherName" name="fatherName">
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Номер рішення суду" [(ngModel)]="this.record.courtDecisionNumber" name="courtDecisionNumber">
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Номер наказу" [(ngModel)]="this.record.orderNumber" name="orderNumber">
      </mat-form-field>
    </div>
    <span class='spacer'></span>
    <div class="search-form-row">
      <mat-form-field class="search-input">
        <mat-select placeholder="Сфера політики" [(value)]="this.record.politicSphere">
          <mat-option>None</mat-option>
          <mat-option class="option" *ngFor="let sphere of spheres" value="{{sphere.name}}">{{sphere.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Покарання" [(ngModel)]="this.record.punishment" name="punishment">
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Вид кодексу" [(ngModel)]="this.record.codeType" name="codeType">
      </mat-form-field>
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Стаття кодексу" [(ngModel)]="this.record.codeArticle" name="codeArticle">
      </mat-form-field>
    </div>
    <span class='spacer'></span>
  </div>
  <div class="search-button-container">
    <button type="submit" mat-button color="primary" (click)="Search()"><mat-icon>search</mat-icon></button>
  </div>
  <div class="search-button-container" *ngIf="auth.isLoggedIn()">
    <button type="submit" mat-button color="primary" (click)="Own()">Мої записи</button>
  </div>
  <mat-accordion class="result-container">
    <mat-expansion-panel *ngFor="let record of records | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ record.lastName }} {{ record.firstName }} {{ record.fatherName }}
        </mat-panel-title>
        <mat-panel-description>
          Кодекс: {{ record.codeType }} Стаття: {{ record.codeArticle }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> Дата винесення рішення суду: {{ record.courtDecisionDate | date }}</p>
      <p> Номер рішення суду: {{ record.courtDecisionNumber }}</p>
      <p> Дата наказу: {{ record.orderDate | date }}</p>
      <p> Номер наказу: {{ record.orderNumber }}</p>
      <p> Сфера політики: {{ record.politicSphere }}</p>
      <p> Покарання: {{ record.punishment }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

